

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),html: {class: "form-signin"}) do |f| %>
<h2 class="text-center">Log in</h2>
    <%= f.input :email, required: false, autofocus: true, label: false, placeholder: "Email", input_html: {class: "form-control"} %>
    <%= f.input :password, required: false, label: false, placeholder: "Password",input_html: {class: "form-control"} %>
    <%= f.button :submit, "Log in", class: "btn btn-primary btn-block" %>

<% end %>

<%= render "devise/shared/links" %>
