<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <%= link_to "<i class='fa fa-circle-o-notch'></i>SCE".html_safe, root_path, class: "navbar-brand" %>
         </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
          <li> <%= link_to "Settings", edit_user_registration_path %> </li>
           <li> <%= link_to "Log Out", destroy_user_session_path, method: :delete %> </li>
   
                    <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
         <li><%= link_to "About", about_path %></li>
         <% end %>
        
      </ul>
            </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>